# Raspberry Pi de desarrollo
PI_HOST=192.168.1.50
PI_USER=pi
PI_PORT=22

# Rutas remotas temporales (normalmente no hay que cambiarlas)
REMOTE_TMP_APP=/tmp/kiosk-dev
REMOTE_TMP_KMOD=/tmp/kmod-dev

# Servicio principal del setup wizard
WIFI_SERVICE=wifi_setup.service
KIOSK_SERVICE=kiosk.service
